.App {
  text-align: center;
}
.App-header {
  padding-bottom: 30px;
  font-size: 70px;
}

.App-main {
  background-color: rgb(223, 205, 169);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: rgb(130, 112, 98);
  color: rgba(255, 255, 255, 0.631);
}

.App-footer a {
  color: rgba(255, 140, 0, 0.684);
  text-decoration: none;
}
